!!!
%html
  %head
    %link{:href => "https://dougiemajortestwebsite.s3.amazonaws.com/style.css", :rel => "stylesheet"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dougie Major - Curriculum Vitae
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "The Curriculum Vitae of Dougie Major.", :name => "description"}/
    %meta{:charset => "UTF-8"}/
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body#top
    #cv.instaFade
      .mainDetails
        #headshot.quickFade
          %img{:alt => "Dougie Major", :src => "https://dougiemajortestwebsite.s3.amazonaws.com/1318375.jpg"}/
        #name
          %h1.quickFade.delayTwo Dougie Major
          %h2.quickFade.delayThree Hopeful AWS Consultant!
        #contactDetails.quickFade.delayFour
          %ul
            %li
              e:
              %a{:href => "mailto:dougiemajor@gmail.com", :target => "_blank"} dougiemajor@gmail.com
            %li
              w:
              %a{:href => "http://www.dougie-devops-pipeline.com"} www.dougie-devops-pipeline.com
        .clear
      #mainArea.quickFade.delayFive
        %section
          %article
            .sectionTitle
              %h1 Personal Profile
            .sectionContent
              %p Experienced and highly skilled technology delivery consultant with a keen interest in new technological trends and how they can positively impact our world today. Successful in using technology, specifically in cloud-based solutions, to deliver solutions to real world business problems within large multinationals across multiple sectors.
              %p Self-taught programmer with skills in frontend development and proven success in helping small businesses harness the power of online through self-founded web agency, seeing one client’s customer base grow over 200%.
              %p Currently working towards cloud architecture qualifications as part of personal development plan.
          .clear
        %section
          .sectionTitle
            %h1 Work Experience
          .sectionContent
            %article
              %h2 Consultant at Accenture
              %p.subDetails January 2016 - Present
              %p Consultant in Accenture's Applied Intelligence with experience in technology transformations, visual analytics, cloud delivery and frontend technologies especially with public sector clients.
            %article
              %h2 Founder at Caffeine19
              %p.subDetails January 2010 - September 2016
              %p Sole founder and owner, five figure turnover with an extensive client portfolio across offerings from print design to web development and online strategy, eventually expanded to employing two contractors in order to fulfil growing demand.
          .clear
        %section
          .sectionTitle
            %h1 Key Skills
          .sectionContent
            %ul.keySkills
              %li AWS and Azure Cloud Solution Architecture
              %li DevOps
              %li Stakeholder Management
              %li UI/UX and User Centric Design
              %li Wireframe, Mock-up, Rapid Prototyping
              %li Enterprise build, test, deploy process optimisation
              %li Languages: HTML, CSS, JS
              %li Adobe Creative Suite (Photoshop. InDesign)
          .clear
        %section
          .sectionTitle
            %h1 Education
          .sectionContent
            %article
              %h2 London School of Economics
              %p.sub MSc Management of Information Systems and Digital Innovation
            %article
              %h2 York University
              %p.sub BSc Economics and Finance
          .clear
